@media all and(max-width:767px) {
    .remove-p{
       padding-left: 1px;
       padding-right: 1px;

    }
}

@media all and(min-width:768px)and(max-width:991px) {}

@media all and(min-width:992px)and(max-width:1199px) {}

@media all and(min-width:1200px)and(max-width:1399px) {}

@media all and(min-width:1400px) {}


.main-header {
    position: absolute;
    width: 100%;
    top: 0;
}

.main-header .menu {
    display: flex;
    padding: 20px 0;
}



.main-header .menu li {
    padding: 0 15px;
    list-style-type: none;
}

.main-header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 17px;

}




.main-header {
    background-color: #101016;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    z-index: 5;
}


.main-header:hover {
    background: transparent;

}



.banner {
    height: 100vh;
    background: linear-gradient(#d7cf24, rgba(202, 202, 78, 0.467), rgba(28, 11, 32, 0.3)), url("../images/makeup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 206 px 0 125px 0;
    background-blend-mode: overlay;
    background-color: #2e2e34;
}


.ban2 {

    background: linear-gradient(#f33c42, rgba(29, 28, 28, 0.982), rgba(11, 11, 11, 0.944));

    background-blend-mode: overlay;

}


.banner h1 {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e58f00;


}

.banner .banner-content p {
    font-size: 25px;
    font-family: monospace;
    color: white;
    max-width: 500px;


}

.remove {
    padding: 0;
}

.banner .banner-content .banner-btn a {
    background-color: #e58f00;
    font-size: 20px;
    color: #28282d;
    text-decoration: none;
    padding: 10px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    transition: all 0.5s;

}

.banner .banner-content .banner-btn a:hover {
    background: transparent;
    border: 3px solid #e58f00;
    color: #fff;
}

.space-margin {
    margin-top: 100px !important;
}


.bri-button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #eeb3af;
    background-image: linear-gradient(45deg, #e8699a 0%, #e9cdad 50%, #da498f 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: all .5s;
}

.bri-button:hover {
    box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
    background-position: 0 0;
    border: 0px solid #eeb3af;
}

.max-w {
    max-width: 800px;
}



.button-two {
    background: #FF4742;
    border: 1px solid #df3b35;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    text-align: center;
    vertical-align: middle;
}

.button-two:hover {
    background-color: inherit;
    color: #FF4742;
}
.maaxx{
    max-width: 500px;
}
p,h1,h2,h3,h4{
    text-align: justify;
}

.backg-gra{
    background: linear-gradient(45deg,#005C97,#363795);
}
.backg-gra2{
    background: linear-gradient(90deg,#d62121,#c72c2c,#3a1111);
}
.backg-gra3{
    background: linear-gradient(45deg,#009ffd,#2a2a72);
}

.nana{
    padding-left: 0;
    padding-right: 0;
}
.backg-gra4{
    background: linear-gradient(45deg,#009ffd,#2a2a72);
}