
@media all and(min-width:768px){

.discount{
    width: 50%;
}

}

@media all and(min-width:768px)and(max-width:991px){

  
    
}

@media all and(min-width:992px)and(max-width:1199px){


   
    
}
@media all and(min-width:1200px)and(max-width:1399px){

    
    
}
@media all and(min-width:1400px){

    

    
}

.background-info{
    background-color:#e1999a;
}
.remove-padding{
    padding-left: 0;
    padding-right: 0;
}
.narges{
    background-color:#e68688;
}
    
.pic-2{
    width:7%;
}

.pic-3{
    width:15%;
}

.pic-2:hover {
    background: #5073f3;
    box-shadow: 0 15px 20px rgba(112, 118, 237, 0.4);
    color: white;
    transform: translateY(-7px);
  }

  .pic-3:hover {
    background: #5073f3;
    box-shadow: 0 15px 20px rgba(185, 52, 81, 0.4);
    color: white;
    transform: translateY(-7px);
  }